<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>404 - Page not found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div style="position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; width:20%; height:20%; text-align:center;">
      <h1>ERROR</h1>
      <h1><%= error.status %></h1>
      <p><%= message %></p>
    </div>
  </div>
</body>
</html>
