<!doctype html>
<html lang="en" ng-app='gotribute.home'>

<head>
    <base href="/" />
    <meta charset="utf-8">
    <title>Go Tribute</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
    <div style="position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; width:20%; height:20%;">
        <h1>You have logged-in successfully!</h1>
    </div>
</body>

</html>