<div style="position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; width:20%; height:20%;">
    <h1>Welcome to Go Tribute</h1>
    <div class="text-center">
        <br>
        <a href="/login" class="text-center new-account">Log-In</a>
        <br>
        <br>
        <a href="/signup" class="text-center new-account">Register</a>
    </div>

</div>